<div class="navigation">
    <nav>
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="vertical">|</li>
        <li class="contact"><a href="/contact">Contact</a></li>
        <li class="vertical">|</li>
        <li class="blog"><a href="/blog">Blog</a></li>
        <li class="vertical">|</li>
        <li class="work"><a href="/portfolio">Portfolio</a></li>
      </ul>
    </nav>
  </div>


<!--   <div class="navigation">
    <nav>
      <ul>
        {% for item in site.data.navigation %}
        <li class="vertical">|</li>        
        <a href="{{ item.link }}">
        {{ item.name }}</a>
        {% endfor %}
      </ul>
    </nav>
  </div> -->