* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:  lightgray;
}





body {
  background: #1b1b1e;
  color:  white;
  font-family:  Open Sans;
}

/*h2 {
  font-family: Open Sans;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 300;
  margin-left: 10%;
  margin-top: 80px;
}*/

.header {
  /*border: 0.5px solid white;*/
  color: white;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 20px;
  font-family: Open Sans;
  font-size: 20px;
  background-color: #27262b;
  border-radius: 20px;
  text-transform: uppercase
}

.header h1 {
  letter-spacing: 15px;
}


.header p {
  letter-spacing: 5px;
}

#header_separator {
  border: 1px solid white;
  border-radius: 2px;
  margin: 5px auto;
  padding: 0;
}

#contact_separator {
  width: 50%;;
  margin: 0 auto;
}

.navigation {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
/*  display: inline;*/
/*  justify-content: center;*/
  background-color: #27262b;
  text-align: center;
  color: white;
  border: 0.1px solid #27262b;
  border-radius: 10px;
  width: fit-content;
  margin: 40px auto;
  padding-right: 40px;
  letter-spacing: 5px;
}

li {
  display: inline;
}

.about, .contact, .blog, .work{
  text-align: center;
  letter-spacing: 3px;
}

.vertical {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}


section {
  /*border: 2px solid white;*/
  margin: 40px 10%;
  padding: 10px 30px;
  font-family: helvetica;
}


h2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight:  300;
}


h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight:  300;
  line-height: 40px;
}

.video_container {
  border: 1px solid white;
/*  display: flex;
  box-sizing: content-box;
  justify-content: center;*/
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
  padding: 0;
}


.contact_details {
  font-size: 26px;
  text-align: center;
  display:  block;
  font-family: baskerville;
}

#email_logo {
  width:  60px;
  height: 60px;
}


#linkedin_logo {
  width:  80px;
  height: 80px;
  margin-top: 50px;
}

#email {
  margin-bottom: 50px;
}

em {
  font-style: normal;
  font-weight: bold;
}

.post {
/*  border: 2px solid white;*/
  margin: 40px 10%;
  padding: 10px 30px;
  font-family: helvetica;
}

#blog-heading {
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline;
}

.work-heading {
  text-align: center;
}


footer {
  font-family: Open Sans;
  letter-spacing: 2px;
  text-align:  center;
  margin: 80px auto;
  padding: 5px;
}